version: '3.8'

services:
  tillywork:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '80:80' # Expose port 80 for frontend access via Nginx
      - '3000:3000' # Expose port 3000 for backend access via Node.js
    env_file:
      - .env
    command: '/start.sh'
