@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('@/assets/fonts/Inter/Inter-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('@/assets/fonts/Inter/Inter-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/Inter/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
}
