.v-tooltip > .v-overlay__content {
  padding: 2px 8px;
}

.v-field--focused {
  .v-field__outline {
    --v-field-border-width: 1px !important;
  }
}

.v-field__input,
.v-field__field,
.v-field-label,
.v-label {
  font-size: 0.875rem;
}

.v-input__details {
  padding-top: 3px;
  padding-bottom: 3px;
}

.v-menu {
  .v-card {
    border: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
  }
  .v-date-picker {
    border: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
  }
}

.v-switch--inset {
  .v-switch__track {
    height: 16px;
    min-width: 32px;
  }
  .v-switch__thumb {
    height: 8px;
    width: 8px;
  }
}

.v-locale--is-ltr.v-switch
  .v-selection-control--dirty
  .v-selection-control__input,
.v-locale--is-ltr
  .v-switch
  .v-selection-control--dirty
  .v-selection-control__input {
  transform: translateX(7px);
}

.v-locale--is-ltr.v-switch .v-selection-control__input,
.v-locale--is-ltr .v-switch .v-selection-control__input {
  transform: translateX(-7px);
}

.v-btn--icon.v-btn--density-default {
  width: calc(var(--v-btn-height) + 6px);
  height: calc(var(--v-btn-height) + 6px);
}

.v-infinite-scroll__side {
  padding: 0;
}

.base-icon-btn.v-btn:hover > .v-btn__overlay {
  opacity: 0.1;
}

.v-list-item--slim .v-list-item__prepend > .v-icon ~ .v-list-item__spacer {
  width: 10px;
}
.v-list-group__items .v-list-item {
  padding-inline-start: 24px !important;
}
