.v-tooltip > .v-overlay__content {
  padding: 2px 8px;
}

.v-field--focused .v-field__outline {
  --v-field-border-width: 1px !important;
}

.v-menu {
  .v-card {
    border: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
  }
  .v-date-picker {
    border: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
  }
}
